*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-color: white;
    color: black;
    line-height: 1.6;

}
nav{
    background-color: rgb(209, 140, 140);
    color: white;
    padding: 8px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #c1121f;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo h2{
    font-size:30px;
    letter-spacing:0.8px;
}
nav ul{
    display:flex;
    gap:45px;
    list-style:none;
}
nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

nav ul li a:hover{
    color:#c1121f;
}
.mode-toggle{
    display:flex;
    align-items:center;
    gap:10px;
}
.mode-toggle p{
    font-size:17px;
}
.mode-toggle button{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#dbcbcc;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}
.mode-toggle img{
    width:20px;
    color: white;
}

/* MAIN  */


main{
    width:90%;
    max-height:500px;
    margin:40px auto;
    /* background-color: red; */
}

/* converter */


.converter-header{
    
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 35px;
    flex-wrap: wrap; /* Mobile par next line me aa jayega */
}

.converter-header h1{
    font-size: 42px;
    margin: 0;
    border-bottom: 3px solid #c1121f;
    padding-bottom: 5px;
}

.converter-header p{
    margin: 0;
    color: #090909;
    font-size: 18px;
     border-bottom: 1px solid #c1121f;
   
}

.input.select-box{
    margin-bottom: 25px;
}
label{
    display:block;
    font-size:19px;
    margin-bottom:7px;
    font-weight:bold;
}
.amount-box input,
select{
    width:100%;
    padding:15px;
    font-size:18px;
    border:1px solid #999;
    background:white;
    outline:none;
}
.amount-box input:focus,
select:focus{
    border:1px solid #c1121f;
}
.currency-row{
    display:flex;
    align-items:end;
    gap:25px;
}

.select-box{
    flex:1;
}

.swap img{
    width:25px;
}

.swap:hover{
    background:#d39da4;
    transform:rotate(180deg);
}
.convert-btn{
    width:100%;
    margin-top:15px;
    padding:16px;
    background:#c1121f;
    color:white;
    border:none;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

.convert-btn:hover{
    background:#8d0e18;
}